.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .modalHeader {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .modalBody {
    margin-bottom: 10px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    
  }
  
  .modalFooter {
    display: flex;
    justify-content: flex-end;
  }
  
  .closeButton {
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .confirmButton {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 10px;
  }
  