.main{
  background: linear-gradient(to right, #82A9E5, #6095DE);
  min-height: 100vh;
}
/* Sidebar Styling */

  
  /* Menu bar */
  .menu-bar {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  /* Navigation menu styling */
  .nav-menu {
    padding-top: 50px;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: rgb(239, 236, 236);
    font-size: 18px;
    border: 4px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }
  
  .nav-text a:hover {
    background-color: #76a1e0;  
  }
  
  /* Navbar toggle styling */
  .navbar-toggle {
    background-color: rgb(180, 180, 220);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between; /* Ensures the content is spaced between start and end */
    align-items: center;
    padding: 0 20px; /* Add padding for spacing */
  }
  
  .navbar-toggle h1 {
    margin: 0;
  }
  
  .navbar-toggle .close-icon {
    font-size: 2rem; /* Adjust size as needed */
    cursor: pointer;
  }
  
  /* Responsive Navbar Styling */
  .custom-navbar {
   
    color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other elements */
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-container h1 {
    margin: 0;
    color: rgb(3, 0, 0);
    padding-right: 10px;
  }
  
  .menu-bar {
    font-size: 5rem;
    background: 76a1e0;
    cursor: pointer;
  }
  
  /* Navigation Links */
  .nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .nav-links li {
    margin: 0;
  }
  
  .nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
  }
  
  .nav-links a:hover {
    background-color: #6095DE;
    border-radius: 4px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .nav-links {
      /* display: none; Hide links on small screens */
    }
  
    .menu-bar {
      display: block;
    }
  }
  .nav-menu-items li{
    margin-top: 10px;
  }
  .nav-menu-items{
    background-color:#76a1e0;
  }
  nav{
    background-color:#76a1e0;
  }