/* General Styles */
* {
  box-sizing: border-box;
 
  

}

/* Main Background */
.main {
  background: linear-gradient(to right, #82A9E5, #6095DE);
  min-height: 100vh;
  overflow: scroll;
  
}

/* Navbar Styling */
