.main {
    background: linear-gradient(to bottom, #fdfbfb, #4a148c);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
}

.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: auto;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.8); 
    backdrop-filter: blur(8px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.form {
    width: 100%;
    padding: 30px;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.subdiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}



.inputEmail,.inputPassword {
    width: 70%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-sizing: border-box;
}


.subDiv {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

button {
    background-color: rgb(127, 24, 200);;
    color: #fff;
    font-size: 1rem;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

button:disabled {
    background-color:  rgb(127, 24, 200);;
    cursor: not-allowed;
}



h3 {
    position: relative;
    display: block;
    color: #7f18c8;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}
input[type="email"]::placeholder,input[type="password"]::placeholder{
    color: #b39ddb; 
    font-size: 1rem;
    font-style: italic;
    opacity: 1; 
    margin:auto;
    transition: color 0.3s ease-in-out;
}



h3:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background-color: #7f18c8; 
    transition: width 0.4s ease-in-out;
}

/* h3:hover::after {
    width: 100%;
} */
.passwordFieldContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* margin-bottom: 20px; */
}

.passwordFieldContainer label {
    font-size: 1rem;
    font-weight: bold;
    color: #4a148c;
    margin-bottom: 8px;
}

.passwordField {
    width: 100%;
    /* padding: 10px; */
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fdfbfb;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.passwordField:hover {
    border-color: #7f18c8;
    box-shadow: 0 4px 8px rgba(127, 24, 200, 0.2);
}

.passwordField:focus {
    outline: none;
    border-color: #7f18c8;
    box-shadow: 0 0 6px rgba(127, 24, 200, 0.5);
}

.passwordFieldContainer .MuiIconButton-root {
    color: #7f18c8;
    transition: color 0.3s;
}

.passwordFieldContainer .MuiIconButton-root:hover {
    color: #4a148c;
}
.passwordValidation {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 8px; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
  }
  
  .passwordValidation li {
    font-size: 12px;
    text-align: left;
    color: red; 
    margin-left: 18px;
  }