* {
  box-sizing: border-box;
}

.main {
  background: linear-gradient(to right, #82a9e5, #6095de);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px; /* Optional: Limit grid width on large screens */
}

.addSectionCard, .sessionsListCard {
  width: 300px;
  height: 250px;
  /* background-color: aliceblue; */
  background: linear-gradient(to right, #9ebdec, #6095de);
  box-shadow: 0 20px 20px rgba(5, 5, 5, 0.1);
  border-radius: 10px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  margin: 0 auto;
}

.plusIcon {
  font-size: 2rem;
  color: #bec7d4;
  cursor: pointer;
  margin-bottom: 8px;
}

.plusIcon:hover {
  color: #434344;
}

.fontHead h5 {
  font-size: 1.1rem;
  color: #333;
  font-weight: 700;
  margin-top: 10px;
}

.fontHead h6 {
  font-size: 1rem;
  color: #333;
}
.icons{
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;

  justify-content: space-around;
}
.trashIcon {
  font-size: 1.2rem;
  color:  #bec7d4;
  cursor: pointer;
  margin-top: 10px;
}

.trashIcon:hover {
  color: red;
}
.editIcon{
  font-size: 1.2rem;
  color:  #bec7d4;
  cursor: pointer;
  margin-top: 10px;
}
.viewIcon{
  font-size: 1.2rem;
  color:  #bec7d4;
  cursor: pointer;
  margin-top: 10px;
}
.buttonDisplay{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  
}
.actionButtonStart,.actionButtonEnd{
  padding: auto;
  margin: auto;
  background: #5988cb;
  outline: none;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
}
.actionButtonStart:hover{
  background: #0e8e3f;
}
.actionButtonEnd:hover{
  background: #d11818;
}
.editIcon:hover {
  color: #434344;
}
.viewIcon:hover {
  color: #434344;
}

/* Responsive Adjustments */

/* Small screens (mobile devices) */
@media (max-width: 600px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }

  .plusIcon {
    font-size: 1.5rem;
  }

  .TrashIcon {
    font-size: 1rem;
  }

  .fontHead h5, .fontHead h6 {
    font-size: 1rem;
    text-align: center;
  }
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 900px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .plusIcon {
    font-size: 1.8rem;
  }

  .TrashIcon {
    font-size: 1.1rem;
  }
}

/* Large screens (desktops) */
@media (min-width: 901px) {
  .gridContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
