/* Default Styles */
.main {
    background: linear-gradient(to bottom, rgb(255, 255, 255), #4a148c);
    width: 100%;
    min-height: 100vh;
}
.container {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.submitBtn {
    width: 10%;
    height: 45px;
    color: #fff;
    background-color: #92969b;
    /* border-color: #0d6efd; */
    border:none;
    padding: auto;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: auto;
}
.container form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    
}
.inputDiv {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.markInput {
    width: 40%;
    height: 40px;
    border-radius: 4px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
}
.formLabel{
    color: #fff;
}

/* Extra Small Devices (up to 576px) */
@media (max-width: 576px) {
    .inputDiv {
        width: 80%;
    }
    .submitBtn {
        height: 40px;
        font-size: 0.9rem;
        padding: auto;
        width: 100px;
    }
     .markInput{
        width: 38%;
        padding:auto;
        
     }
}

/* Small Devices (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    .inputDiv {
        width: 80%;
    }
    .submitBtn {
        height: 45px;
        font-size: 1rem;
        width: 100px;
    }
    .markInput{
        padding: auto;
    }
}

/* Medium Devices (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    .inputDiv{
        width: 70%;
    }
    .submitBtn{
        width: 100px;
    }
}

/* Large Devices (992px - 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
    .inputDiv {
        width: 60%;
    }
    .submitBtn {
        width: 100px;
    }
}

/* Extra Large Devices (1200px and above) */
@media (min-width: 1200px) {
    .inputDiv {
        width: 50%;
    }
    .submitBtn {
        width: 100px;
    }
}
