.main{
    background: linear-gradient(to right, #82A9E5, #6095DE);
    
}
.lft{
    margin-left: 45%;
}
@media (max-width: 576px) {
    .lft{
        margin-left: 0;
    }
}
.filter-container{
    padding: 10px;
    
    display: flex;
    justify-content: flex-end;

}
.report-dropdown{
    border-radius: 4px;
    outline: none;
    border: none;
    margin-bottom: 6px;

    
}
