.main{
    width: 105px;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(235, 241, 239);
    stroke:black;
    position: relative;
    right: 10px;
    top:100px ;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
   


}

.head{
font-size: larger;
font-weight: 800;

border: 2px solid black;
}
.red{
    border: 2px solid rgb(250, 81, 81);
}